  <!-- bottom nav -->
  <nav class="navbar fixed-bottom navbar-dark bg-dark" style="justify-content: center;">
    <!-- using boostrap to display bottom bar and navbar-text to change the text color to something more visible -->
    <h6 class="display-6 navbar-text">&copy; 2020 All Rights Reserved.</h6>
  </nav>